<app-bar></app-bar>


<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>


<div class="container">
  <div class="card" id="div">
    <img src="\assets\Cimarron.png" class="card-img-top" alt="...">
    <div class="card" id="div2">
      <div class="card-body">
        <h1>Productos</h1>
        <form #frmLogin='ngForm' (ngSubmit)='mandar(frmLogin)' class="login-container">
          <div *ngFor="let i of productos">
            <li>{{i}}<div class="input-group input-group-sm mb-3">
                <p>
                  <input  class="form-control form-control-sm " type="text"
                    name="{{i}}" ngModel required>
                </p>
              </div>
            </li>
          </div>
          <button class="  btn btn-success" value="Send" type="submit">Mandar</button>
        </form>
      </div>
    </div>
  </div>
</div>
