<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color: #4b0082;">
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="a navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="log">
      <a class="navbar-brand a" (click)="changeAction('inventario','inventario')"> <svg svg width="2em" height="2em"
          id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.25 28.06">
          <defs>
            <style>
              .cls-1 {
                fill: #fff;
              }
            </style>
          </defs>
          <title>Sin título-2</title>
          <path class="cls-1" d="M302.89,408.62l-2.62,6.47a13.81,13.81,0,0,1,2.4,19.86A13.82,13.82,0,0,0,302.89,408.62Z"
            transform="translate(-283.16 -406.89)" />
          <path class="cls-1"
            d="M290.35,409.54a13.82,13.82,0,0,0,2.55,25.32A13.81,13.81,0,0,1,294.09,416l1.77,3.07,4.26-10.6-11.31-1.61Z"
            transform="translate(-283.16 -406.89)" />
        </svg> </a>
      <a class="nav-link a" style="color:#fff;padding-top:15px;"
        (click)="changeAction('inventario','inventario')">Almacen <span class="sr-only">(current)</span><svg width="1em"
          height="1em" viewBox="0 0 16 16" class="bi bi-table" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
        </svg></a>
      <div class="row" style="padding:10px">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Cuartos de Maquinas</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

              <button ngbDropdownItem (click)="changeAction(dat['nombre'],dat['nom2'])"
                *ngFor="let dat of cms">{{dat['nombre']}}</button>

            </div>
          </div>
        </div>
        <div class="col">
          <div *ngIf="(pos()!=-1); ">
            <a ng-template #thenBlock style="color:#fff; ">Invernaderos: <span
                class="badge">({{invernaderos[pos()]}})</span></a><br>
          </div>
          <div *ngIf="(pos()!=-1); ">
            <a ng-template #thenBlock style="color:#fff; ">Planta: <span
                class="badge">({{planta[pos()]}})</span></a><br>
          </div>
        </div>
      </div>
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="log">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <div ngbDropdown class="d-inline-block">
            <a class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-grid-3x3-gap-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
            </svg></a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <div class="container">
                <div class="row">
                 <a  ngbDropdownItem
                 ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                  <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>Ver Pedidos</a>
                <a ngbDropdownItem (click)="mandarPedidos()"
                 ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-break" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M9 0H4a2 2 0 0 0-2 2v7h1V2a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 5H13v4h1V5L9 0zm5 12h-1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-2H2v2a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-2zM0 10.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                </svg>Realizar un requerimiento</a>
                </div>
            </div>
          </div>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color:#FFFF" href=""> <span class="sr-only">(current)</span><svg width="1em"
              height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
            </svg> {{nombre()}}
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="Logout() " style="color:#FFFF" href="">Cerrar session <span click="Logout()"
              class="sr-only">(current)</span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 15.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM11.5 2H11V1h.5A1.5 1.5 0 0 1 13 2.5V15h-1V2.5a.5.5 0 0 0-.5-.5z" />
              <path fill-rule="evenodd"
                d="M10.828.122A.5.5 0 0 1 11 .5V15h-1V1.077l-6 .857V15H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117z" />
              <path d="M8 9c0 .552.224 1 .5 1s.5-.448.5-1-.224-1-.5-1-.5.448-.5 1z" />
            </svg></a>
        </li>
      </ul>
    </form>
  </div>
</nav>
