
  @media only screen and (max-width: 4000px) {
    #div1 {
        overflow:scroll;
        margin-left: 2.5%;
        margin-top: 5%;
        width:45%;
        height: 500px;

    }
}


@media only screen and (max-width: 4000px) {
  #divgraficas {
    margin-top: 5%;
      overflow:scroll;
      width:75%;
      height: 75;
  }
}



@media only screen and (max-width: 4000px) {
  #divgraficas2 {
    padding-top: 15%;
    flex-flow: row-reverse;
      overflow:scroll;
      width:150%;
      height: 150%;

  }
}


::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width:10px;
}

::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}


.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
