<app-bar></app-bar>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Listado del pedido</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="div" class="modal-body">
    <div  *ngFor="let i of pedidotem">
      <li>{{i.producto }}<div class="input-group input-group-sm mb-3">
          <p>
            <input  class="form-control form-control-sm " type="text"
              name="Total ={{i.producto}}" ngModel required><p>{{i.cantidad}}</p>
          </p>
        </div>
      </li>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<div class="container">
  <div class="row " id="">

    <div class="card column" id="div">

      <div class="card-body" style="padding-top: 5%;">
        <h1>Ordenes en proceso de aprobacion</h1>
        <div class="card " *ngFor="let i of ordenenproceso">

          <div class="card-body" style="text-align: center;">
            <h2 class="card-title">{{"CM="+i[0].nom2+" || "+i[0].fecha}}</h2>
            <p class="card-text">{{i[0].producto+"="+i[0].cantidad}}</p>
            <p class="card-text">{{i[1].producto+"="+i[1].cantidad}}</p>
            <p class="card-text">{{i[2].producto+"="+i[2].cantidad}}</p>
            <p class="card-text">{{i[3].producto+"="+i[3].cantidad}}</p>
            <p class="card-text">{{i[4].producto+"="+i[4].cantidad}}</p>
            <p class="card-text">ver mas...</p>
            <div class="row justify-content-md-center">
            <div>
              <button ngbTooltip="Editar" class="btn btn-secundary" value="Send"><svg width="1em" height="1em"
                  viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg></button>
            </div>
            <div>
              <button ngbTooltip="Borrar" class="btn btn-danger" value="Send"> <svg width="1em" height="1em"
                  viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                </svg></button>
            </div>
            <div>
              <button ngbTooltip="Validar Pedido" (click)="validar([i[0].nom2,i[0].fecha])" class="btn btn-primary" value="Send"> <svg width="1em" height="1em"
                  viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                </svg></button>
            </div>
          </div>
          </div>


        </div>

      </div>

    </div>

    <div class="card " id="div">
      <div class="card-body" style="padding-top: 5%;">
        <h1>Ordenes Aprobadas</h1>
        <div class="card " *ngFor="let i of ordenenaprob">
          <div class="card-body" style="text-align: center;">
            <h2 class="card-title">{{"CM="+i[0].nom2+" || "+i[0].fecha}}</h2>
            <p class="card-text">{{i[0].producto+"="+i[0].cantidad}}</p>
            <p class="card-text">{{i[1].producto+"="+i[1].cantidad}}</p>
            <p class="card-text">{{i[2].producto+"="+i[2].cantidad}}</p>
            <p class="card-text">{{i[3].producto+"="+i[3].cantidad}}</p>
            <p class="card-text">{{i[4].producto+"="+i[4].cantidad}}</p>
            <p class="card-text">ver mas...</p>
            <div>
              <button ngbTooltip="Actualizar estatus" class="btn btn-secundary"  (click)="open(content,i)" value="Send"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg></button>
            </div>
      </div>
    </div>
  </div>
</div>

</div>
