<app-bar></app-bar>

<div class="container">
  <div class="row">
    <div class="card columns" id="div">

      <div class="card-body">
        <h1>Orden en proceso de aprobacion</h1>
      </div>
    </div>
    <div class="card columns" id="div">
      <div class="card-body">
        <h1>Orden en proceso de entrega</h1>
      </div>
    </div>
    <div class="card columns" id="div">
      <div class="card-body">
        <h1>Orden en proceso entregas parciales</h1>
      </div>
    </div>
    <div class="card columns" id="div">
      <div class="card-body">
        <h1>Orden en proceso entregas totales</h1>
      </div>
    </div>
  </div>
</div>
