<app-bar></app-bar>

<div class="container">
  <div class="row">
    <div class="columns">
      <div class="card carddi " id="div">
        <div class="card-body" style="padding-top: 5%;">
          <h1 style="color: midnightblue;">Traspasos en proceso</h1>
          <div class="card carddi3" *ngFor="let i of trapasoP">
            <div class="card-body" style="text-align: center;">
              <p>{{i[0].fecha }}</p>
              <p class="card-text">{{i[0].producto+"="+i[0].valor}}</p>
              <p class="card-text">{{i[1].producto+"="+i[1].valor}}</p>
              <button ngbTooltip="Validar Traspasos" (click)="cambiarStatus(i[0].id_traspasos)" class="btn btn-info"
                value="Send"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                </svg></button>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="columns">
      <div class="card carddi " id="div">
        <div class="card-body" style="padding-top: 5%;">
          <h1 style="color: midnightblue;">Traspasos Validados</h1>
          <div class="card carddi2" *ngFor="let i of trapasoE">
            <div class="card-body" style="text-align: center;">
              <p>{{i[0].fecha }}</p>
              <p class="card-text">{{i[0].producto+"="+i[0].valor}}</p>
              <p class="card-text">{{i[1].producto+"="+i[1].valor}}</p>
              <button ngbTooltip="Validar Traspasos" (click)="entregado(i)" class="btn btn-info"
                value="Send"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                </svg></button>
              <div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
<qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>