<app-bar></app-bar>


<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h1 style="color: midnightblue;" class="modal-title" id="modal-basic-title">Listado del pedido</h1>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row justify-content-md-center">

    <form #frmLogin='ngForm' (ngSubmit)='editar(frmLogin)' class="login-container">
      <div class="column" id="divmodal" class=" modal-body">
        <div *ngFor="let i of Data">
          <li>{{i.producto }}
            <div class="input-group input-group-sm mb-3">
                <input value="{{i.total}}" type="number" min="0" required  class="form-control form-control-sm" name="{{i.id_producto}}" ngModel required>

            </div>
            <p style="color: blue;">{{"Cantidad Actual = "+i.total}}</p>
            
             
          </li>
      </div>
      </div>
      <div class="modal-footer">
        <button class="  btn btn-success" value="Send" type="submit">Actualizar</button>
      </div>
    </form>

  </div>

</ng-template>



<ngb-alert *ngIf="mensajeError" type="success" (close)="successMessage = ''">{{ mensajeError }}</ngb-alert>



<div class="container" id="">
  <div class="row" style="padding-left: 2%;">
    <button ngbTooltip="Recargar Pagina" (click)="obtener()" class="btn btn-primary" value="Send"><svg width="1em"
        height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z" />
        <path fill-rule="evenodd"
          d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z" />
      </svg></button>
    <div style="padding-left: 1%;  color:white; padding">
      <h1 class="display-1" style="color:{{Titulo[0].color}}">{{Titulo[0].nombre}}</h1>
    </div>
    <div style="padding-left: 2%; " class="btn-group #color " role="group" aria-label="Basic example" id="color">
      <button (click)="tipos('Liquido')" style="padding-left: 0%;" type="button btn-group-sm "
        class="btn btn-secondary">Liquidos</button>
      <button (click)="tipos('Solido')" style="padding-left: 0%;" type="button btn-group-sm "
        class="btn btn-secondary">Solidos</button>
      <button (click)="tipos('ls')" style="padding-left: 0%;" type="button btn-group-sm "
        class="btn btn-secondary">Ambos</button>
      <div ngbDropdown class="btn-group" role="group">
        <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="aplicarformula()">Aplicar Formula <svg width="1em" height="1em"
              viewBox="0 0 16 16" class="bi bi-arrow-bar-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
            </svg></button>
          <button ngbDropdownItem (click)="Viewformula()">ver <svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
              <path fill-rule="evenodd"
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
            </svg></button>

        </div>
      </div>
      <form class="form-inline">
        <div class="form-group hidden">
          <div class="input-group">

            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input #dptoDate
                   class="form-control" placeholder="yyyy-mm-dd"
                   name="dptoDate"
                   [value]="formatter.format(fromDate)"
                   >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
              <input name="datepicker"
                   class="form-control"
                   ngbDatepicker
                   #datepicker="ngbDatepicker"
                   [autoClose]="'outside'"
                   (dateSelect)="onDateSelection($event)"
                   [displayMonths]="2"
                   [dayTemplate]="t"
                   outsideDays="hidden"
                   [startDate]="fromDate!">
            </div>
          </div>
        </div>

      </form>

    </div>

  </div>
</div>

  <div class="row">
    <div class="col" id="div1">
      <h1  style="color:{{Titulo[0].color}}">Tabla De Productos
        <button ngbTooltip="Editar" class="btn btn" value="Send" (click)="open(content)"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg></button>
      </h1>
      <table mat-table cdkColumnDef="customWidthClass" [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container *ngFor="let dat of displayedColumns" matColumnDef={{dat}}>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{dat}} </th>
          <td style="width:150px" [ngClass]="'customWidthClass'" mat-cell *matCellDef="let element">
            {{" "+element[dat]}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-xl 	col-sm-" id="divgraficas2">
     <canvas  id="canvas2">
      {{chartcon}}
    </canvas>
    </div>

  </div>
  <div class="row justify-content-md-center" id="divgraficas">
    <canvas id="canvas">
      {{chart}}
    </canvas>
  </div>

